button {
  width: 100%;
  border: none;
  height: 40px;
  border-radius: 7px;
  font-size: 14px;

  &:disabled {
    background-color: #e7e7e7 !important;
  }

  .spinner {
    width: 20px;
    height: 20px;
  }
}

.Toastify__toast button {
  width: initial;
}

.auth-container {
  .left {
    background-color: #2d3142;
    height: 100vh;
    border-radius: 0px 35px 35px 0px;
  }

  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    .auth-card {
      border: 1px solid #e7e7e7;
      width: 400px;
      box-shadow: 0px 2px 2px -1px #0000000a;
      border-radius: 5px;
      .auth-options {
        display: flex;
        border-bottom: 1px solid #e7e7e7;
        li {
          list-style: none;
          width: 50%;
          height: 55px;
          padding: 15px;
          cursor: pointer;
          border-right: 1px solid #e7e7e7;
          color: #eae8ff;
          text-align: center;

          &:last-child {
            border-right: none;
          }

          &.active {
            background: #eae8ff;
            font-weight: 600;
            color: #2d3142;
          }
        }
      }
      .auth-body {
        padding: 30px 15px;

        label {
          font-size: 14px;
          margin-bottom: 5px;
          font-weight: 500;
        }

        .resend-code {
          font-size: 13px;
          margin-top: 10px;
          margin-bottom: 0;

          span {
            color: #f2af29;
            font-weight: 700;
            cursor: pointer;
          }
        }

        .verify-btn {
          margin-top: 30px;
          width: 100%;
          background-color: #2d3142;
          color: #eae8ff;
          font-weight: 600;
        }
      }
    }
  }
}

.create-bill-container {
  .header {
    background-color: #2d3142;
    width: 100%;
    height: 40px;
    border-radius: 10px;
  }
  .edit-bar {
    height: 40px;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;

    button {
      width: 120px;
    }
  }
  .bill-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;

    .create-wrapper {
      border: 1px dashed #2d3142;
      width: fit-content;
      padding: 22px;
      border-radius: 35%;
      display: flex;
      justify-content: center;
      height: 150px;
      width: 170px;
      flex-direction: column;
      align-items: center;
      cursor: pointer;

      img {
        width: 50%;
      }
      p {
        width: fit-content;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 700;
      }
    }

    .bill-form-wrapper {
      text-align: center;
      .create-bill-form {
        border: 1px solid #e7e7e7;
        border-radius: 20px;
        box-shadow: 0px 2px 2px -1px #0000000a;
        width: 400px;
        min-height: 500px;
        padding: 15px;
        position: relative;

        .term {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        select.terms-select {
          width: 20%;
          text-align: center;
          margin-right: 10px;
        }

        p {
          margin-bottom: 4px;
          text-align: center;
        }

        ul {
          padding: 1rem 0;
          margin-top: 10px;
          div {
            position: relative;
            &.wrapper {
              background-color: #eae8ff45;
              padding: 7px;
              border-radius: 5px;
              margin-bottom: 10px;

              .controls {
                display: flex;
                justify-content: space-between;
                i {
                  margin-bottom: 10px;
                  cursor: pointer;

                  &:first-child {
                    position: absolute;
                    top: -20px;
                    left: -15px;
                  }

                  &.cancel {
                    color: #a50104;
                    position: absolute;
                    right: -13px;
                    top: -18px;
                  }
                }
              }
            }
            &._values-container {
              display: flex;
              justify-content: space-between;
              align-items: center;
              cursor: pointer;
              padding: 5px;
              gap: 30px;

              li {
                list-style: none;

                input {
                  font-size: 14px;
                }
              }
            }
          }
        }

        .totals {
          position: absolute;
          bottom: 35px;
          width: 100%;
          padding-right: 10%;

          .total {
            display: flex;
            justify-content: space-between;
            padding: 30px;

            li {
              list-style: none;
              font-size: 16px;
              font-weight: 500;

              &:last-child {
                font-weight: 800;
              }
            }
          }
        }

        button {
          position: absolute;
          bottom: 10px;
          width: 110px;
          left: 37%;
        }
      }

      button.create-btn {
        margin-top: 10px;
        width: 55%;
      }
    }

    .preview-bill-form {
      width: 600px;
      background-color: #fff;
      border: 1px solid #087ca7;
      min-height: 750px;
      .header {
        background-color: #087ca7;
        height: fit-content;
        padding: 30px;
        border-radius: 0;

        h3 {
          text-align: center;
          font-weight: 800;
          text-transform: uppercase;
          color: #fff;
          margin-bottom: 10px;
        }

        .timing {
          display: flex;
          justify-content: space-between;
          padding: 10px 10%;

          p {
            margin-bottom: 3px;
            color: #fff;
            font-size: 14px;
            &:first-child {
              text-transform: uppercase;
              font-weight: 600;
            }
          }
        }
      }
      .list {
        padding: 30px 50px;
        .title {
          background-color: #087ca7;
          display: flex;
          justify-content: space-between;
          color: #fff;
          padding: 15px;

          p {
            margin-bottom: 0;
            text-transform: uppercase;
            font-weight: 600;
          }
        }
        .bill-items {
          .item {
            display: flex;
            justify-content: space-between;
            padding: 15px;
            padding-bottom: 0px;
            border-bottom: 1px solid #e7e7e7;

            p {
              font-size: 14px;
              text-transform: uppercase;
              &:first {
                font-weight: 600;
              }
            }
          }
        }
        .totals {
          display: flex;
          justify-content: flex-end;
          margin-top: 30px;
          gap: 10px;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 18px;
        }
        .payment-info {
          .payment-qr {
            text-align: center;
            i {
              font-size: 150px;
            }
          }
          p {
            text-align: center;
            font-weight: 400;
            font-size: 14px;

            span {
              font-weight: 800;
            }
          }
        }
      }
    }
  }
}
