button {
  width: 100%;
  border: none;
  height: 40px;
  border-radius: 7px;
  font-size: 14px;

  &:disabled {
    background-color: #e7e7e7 !important;
  }

  .spinner {
    width: 20px;
    height: 20px;
  }
}

.Toastify__toast button {
  width: initial;
}

.auth-container {
  .left {
    background-color: #2d3142;
    height: 100vh;
    border-radius: 0px 35px 35px 0px;
  }

  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    .auth-card {
      border: 1px solid #e7e7e7;
      width: 400px;
      box-shadow: 0px 2px 2px -1px #0000000a;
      border-radius: 5px;
      .auth-options {
        display: flex;
        border-bottom: 1px solid #e7e7e7;
        li {
          list-style: none;
          width: 50%;
          height: 55px;
          padding: 15px;
          cursor: pointer;
          border-right: 1px solid #e7e7e7;
          color: #eae8ff;
          text-align: center;

          &:last-child {
            border-right: none;
          }

          &.active {
            background: #eae8ff;
            font-weight: 600;
            color: #2d3142;
          }
        }
      }
      .auth-body {
        padding: 30px 15px;

        label {
          font-size: 14px;
          margin-bottom: 5px;
          font-weight: 500;
        }

        .resend-code {
          font-size: 13px;
          margin-top: 10px;
          margin-bottom: 0;

          span {
            color: #f2af29;
            font-weight: 700;
            cursor: pointer;
          }
        }

        .verify-btn {
          margin-top: 30px;
          width: 100%;
          background-color: #2d3142;
          color: #eae8ff;
          font-weight: 600;
        }
      }
    }
  }
}
